{% extends "firstapp/base.html" %}
{% block content %}

<form style="margin: 20px 60px 20px 60px;" method="POST" autocomplete="off">
      {%csrf_token%}
    <h2>MEETING SCHEDULING</h2>

    <div class="row">

        <div class="col col-md-6"><label>Name</label>{{ form.name }}</div>
        <div class="col col-md-6"><label>Mobile Number</label>{{ form.phone }}</div>
    </div>
    <div class="row">
        <div class="col col-md-12"><label >Address</label>{{ form.address}}</div>

    </div>
    <div class="row">
        <div class="col col-md-6"><label>Email</label>{{ form.email }}</div>
        <div class="col col-md-6"><label>Host Name</label>{{ form.host }}</div>
    </div>
    <br>
    <input type="submit" class="btn btn-primary" value="Save">

</form>

{% endblock %}
